<!--profile Page-->
<div class="Jumbotron" id="profile-page">
    <div class="row">
        <div class="col-">
            <img src="https://static.vakinha.com.br/uploads/vakinha/image/537909/cover_IMG-20190412-WA0219.jpg"
                id="babeprofile-img" />
        </div>
        <div class="col-sm">
            <h1 class="Jumbotron" style="overflow: visible">Roberta Xereca</h1>
        </div>
        <div class="col-sm">
            <div class="detetive-chatBox">
                <div class="detetive-chat-container ">
                    <img src="https://i.pinimg.com/originals/fd/98/77/fd9877ebf41263681e8bc0f8421ad59f.gif"
                        alt="Avatar">
                    <p style="overflow: visible">
                        Sua mulher esta no mec mec!
                        <span class="detetive-chat-time">11:00</span>
                </div>
            </div>
        </div>
    </div>
</div>