<!--payment plans-->
<div class="payment">
    <audio id="audio">
        <source src="https://www.myinstants.com/media/sounds/cantouchthis_1.mp3" type="audio/mpeg" />
    </audio>

    <input type="hidden" id="bid">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-5 text-center" style="margin-top: 60px">
        <h1 class="display-4 mt-0">Pricing</h1>
        <p class="lead"> Choose your Plan </p>
    </div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h5 class="my-0 font-weight-normal">Basic</h5>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"> <small class="text-muted"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>8 hours Spying</li>
                    <li>Only one Detective</li>
                    <li>Receive text message with events</li>


                </ul>
                <button type="button" onClick="setPlan(1)"
                    class="btn btn-lg btn-block btn-outline-primary">200€</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h5 class="my-0 font-weight-normal">Pro</h5>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"> <small class="text-muted"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>24 hours Spying</li>
                    <li>Only one Detective</li>
                    <li>Receive text message with events</li>
                    <li>beat up one person</li>
                </ul>
                <button type="button" onClick="setPlan(2)" class="btn btn-lg btn-block btn-primary">400€</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h5 class="my-0 font-weight-normal">Can't touch my babe</h5>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>All that others have but...</li>
                    <li>You can spy two person</li>
                    <li>One of them can "accidentally" disappear</li>



                </ul>
                <button type="button" onClick="onClickTouch" class="btn btn-lg btn-block btn-primary" id="canttouchthis" style="background-color: #8c780c">800€</button>
                <script>
                
                    var button = document.getElementById('canttouchthis');
                    var audio = document.getElementById('audio');

                    var onClickTouch = function () {
                        audio.play(); 
                        setTimeout(function () {
                            setPlan(3)
                        },6000)
                    };

                    button.addEventListener('click', onClickTouch, false);
                    </script>
            </div>
        </div>
    </div>
</div>