<div class="Jumbotron" id="user-profile" style="margin-top: 90px">
    <div class="row">
        <div class="col-sm col-md-6 crop">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXQr48batW8bR6Nvm1N9B5z3u_OZAMbQyOnpNlTvbxgLiKNOHhaw"
                id="user-profile-img-pf" />
        </div>
        <div class="col-sm">
            <h1 class="Jumbotron mt-0" style="overflow: visible" id="user-name-pf">Robin</h1>
        </div>
        <!--Adicionar Futuro form de ediit-->
        <form>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Your first name">
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Your last name">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input type="email" class="form-control" id="email" placeholder="Your email address">
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="phone">Phone number:</label>
                        <input type="text" class="form-control" id="phone" placeholder="Your  phone number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="url">Image URL:</label>
                <input type="url" class="form-control" id="img-url" placeholder="Profile">
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" id="edit-profile">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>